{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/allRestaurants.css">
<link rel="stylesheet" href="/css/nav.css">
{% endblock %}

{% block content %}
{% if is_admin %}
  <h2 class="text-center">Updating: {{rest[0].name}}</h2>
  <div class="container edit-container">
    <form class="edit-form" id="rest-update">
      <!-- name field -->
      <div class="form-group">
        <label class="control-label" for="name">Name:</label>
        <div class="">
          <input type="text" name="name" class="form-control" id="rest-name" value="{{ rest[0].name }}" placeholder="Enter a restaurant name...">
        </div>
      </div>
      <!-- location field -->
      <div class="form-group">
        <br>
          <label class="control-label" for="location">Street:</label>
          <input type="text" id="line_1" name="line_1" class="form-control"  value="{{ rest.address.line_1 }}" placeholder="Enter a street name for your restaurant...">
          <label class="control-label" for="location">City:</label>
          <input type="text" id="city" name="city" class="form-control"  value="{{ rest.address.city }}" placeholder="Enter a city for your restaurant...">
          <label class="control-label" for="location">State:</label>
          <input type="text" id="state" name="state" class="form-control"  value="{{ rest.address.state }}" placeholder="Enter a state for your restaurant...">
          <label class="control-label" for="location">Zip code:</label>
          <input type="number" id="zip" name="zip" class="form-control"  value="{{ rest.address.zip }}" placeholder="Enter a zip for your restaurant...">
        <br>
        <!-- cuisine field -->
        <div class="form-group">
          <label class="control-label" for="cuisine">Cuisine:</label>
          <div>
            <select name="cuisine_type" class="form-control" id="rest-cuisine">
              {% for cuisine in cuisines %}
              {% if (cuisine == rest[0].cuisine_type) %}
              <option value="{{cuisine}}" selected>{{cuisine}}</option>
              {% else %}
              <option value="{{cuisine}}">{{cuisine}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <br>
        <!-- description field -->
        <div class="form-group">
          <label class="control-label" for="description">Description:</label>
          <div class="">
            <textarea type="text" name="description" class="form-control" id="rest-description" placeholder="Enter a description for your restaurant..." rows="5">{{ rest[0].description }}</textarea>
          </div>
        </div>
        <br>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <button type="submit" class="btn btn-primary btn-block">Update restaurant!</button>
          <br>
        </div>
      </div>
    </form>
  </div>

  {% else %}
    <div class="alert">You do not have permission to view this page!</div>
  {% endif %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/update-rest.js"></script>
{% endblock %}
