{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/oneRestaurant.css">
<link rel="stylesheet" href="/css/nav.css">
{% endblock %}

{% block content %}

<div class="all-rests container">
  <br>
  <br>
  {% for rest in rests %}
  <div class="row book-row">
    <div class="col-md-6 rest-pic">
      <img class="restaurantImage img-responsive" src="/img/{{rest.cuisine_type}}.jpeg">
    </div>
    <div class="col-md-6 book-info">
      <!-- edit link to edit THAT book -->
      <a href="#" style="float: right" class="btn btn-primary">Edit</a>
      <!-- delete link to delete THAT book -->
      <a href="#" style="float: right" class="btn btn-danger">Remove</a>
      <!-- Write a new review-->
      <a href="/review/{{rest.id}}" style="float: right" class="btn btn-success">Write a Review</a>

      <h2>{{rest.name}}</h2>

      <p>{{rest.cuisine_type}}</p><span class="stars">{{score}}</span>
      <p>{{rest.location}}</p>
      <p>{{rest.description}}</p>
      <hr>
  {% endfor %}
      <div class="col-md-12">
        <h2 class>{{numberReviews}} Reviews</h2>
        {% for review in allReviews %}
        <div class="col-md-12">
          <h3>{{review.first_name}} {{review.last_name}} on {{review.review_date}}</h3>
          <span class="stars">{{review.rating}}</span>
          <p>
            {{review.content}}
          </p>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/restaurant.js"></script>
{% endblock %}
