{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/oneRestaurant.css">
<link rel="stylesheet" href="/css/nav.css">
{% endblock %}

{% block content %}

<div class="all-rests">
  <h2>Restaurant List</h2>

  {% for rest in rests %}
  <div class="row book-row">
    <div class="col-md-6 rest-pic">
      <!-- add href to link to single book -->
      <!-- <img src="{{rest.cover_url}}"> -->
      <a href="/restaurants/{{rest.id}}"><img class="restaurantImage" src="/img/{{rest.cuisine_type}}.jpeg"></a>
    </div>
    <div class="col-md-6 book-info">
      <h4>Restaurant {{rest.id}}</h4>
      <!-- edit link to edit THAT book -->
      <a href="#" style="float: right" class="btn btn-primary">Edit</a>
      <!-- delete link to delete THAT book -->
      <a href="#" style="float: right" class="btn btn-danger">Remove</a>
      <!-- Write a new review - currently broken link-->
      <a href="/review/{{rest.id}}" style="float: right" class="btn btn-success">Write a Review</a>

      <h2>{{rest.name}}</h2>


      <p>{{rest.cuisine_type}}</p>
      <p>{{rest.location}}</p>
      <p>{{rest.description}}</p>
      <hr>
      <span class="stars">{{score}}</span>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/restaurant.js"></script>
{% endblock %}
