{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/allRestaurants.css">
<link rel="stylesheet" href="/css/nav.css">
{% endblock %}

{% block content %}
<br>

  <div class="all-restaurants container">
    <div class="col-md-12">
      <h2 class="title text-center">All Restaurants</h2>
    </div>
    <div class="col-md-12 add-restaurant">
      <a href="/restaurants/add-restaurant" type="button" class="btn btn-success btn-lg">Add a restaurant!</a>
      </a>
    </div>
    {% for rest in rests %}
    <div class="col-lg-6">
      <div class="col-md-12 individual-restaurant">
        <div class="col-md-7 restaurant-pic">
          <a href="/restaurant/{{rest.id}}"><img class="img-responsive"src="./img/{{rest.cuisine_type}}.jpeg"></a>
        </div>
        <div class="col-md-5 restaurant-info">
          <div class="col-md-12">
            <a href="/restaurant/{{ rest.id }}/edit-restaurant" class="btn btn-sm btn-primary pull-left">Edit</a>
            <a href="#"class="btn btn-sm btn-danger pull-left">Delete</a>
          </div>
          <a href="/restaurant/{{rest.id}}">
            <h2>{{rest.name}}</h2>
          </a>
          <p>{{rest.cuisine_type}}</p>
          <p>{{rest.address.line_1}} {{rest.address.line_2}}
            <br>
            {{rest.address.city}}, {{rest.address.state}}
            <br>
            {{rest.address.zip}}
          </p>
        </div>
        <div class="col-md-12">
          <br>
          <p>{{rest.description}}</p>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>

{% endblock %}
