{% extends "_base.html" %}

{% block title %}
<link rel="stylesheet" href="/css/review.css">
{% endblock %}


{% block content %}

<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <form class="form col-lg-6 col-lg-offset-3" id="rev-update">
    <fieldset class="prev-rating" rating="{{result.rating}}">
      <div class="form-group">
        <label for="inputReview" class="col-lg-2 control-label">Review:</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="5" name="reviewText" id="updated-review">{{ result.content }}</textarea>
        </div>
        <div>
          <label for="rating" class="col-lg-2 control-label">Stars:</label>

          <div class="rating giveStars">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>

            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>

            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>

            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>

          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <a href="#" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/review.js"></script>
{% endblock %}
