{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/splash.css">
{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1 class="text-center">Eat Rite.</h1>
  </div>
  <div class="container">
    <h2 class="text-center">Featured Restaurants</h2>
    {% for restaurant in restaurants %}
    <div class="col-md-4">
      <h2>{{restaurant.name}}</h2>
      <h4>{{restaurant.cuisine_type}}</h4>
      <h5>{{restaurant.city}}, {{restaurant.state}}</h5>
    </div>
    {% endfor %}
  </div>


{% endblock %}
