{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <form class="form-horizontal new_user_form" action="/newuser" method="post">

      <div class="form-group" action="/" method="post">
        <h1 class="text-center">Create an Account</h1>
        <p class="alert">
          {{alertMessage}}
          {{alertIsUser}}
          {{alertNoEmail}}
          {{alertLength}}
          {{alertShort}}
          {{alertPass}}
          {{valPass}}
        </p>

        <div class="form-group">
          <label for="first_name">First Name</label>
          <input class="form-control first_name" type="text" name="first_name" placeholder="First Name" required>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control last_name" type="text" name="last_name" placeholder="Last Name" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control email" type="email" name="email" placeholder="someone@somemail.com" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control password" type="password" name="password" placeholder="Password" required>
          <label for="password"><em style="text-muted">Requirements: 8 Characters, one capital letter, one lower case letter, and one number</em></label>
        </div>

        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input class="form-control confirm_password" type="password" name="confirm_password" placeholder="Password" required>
          <br>
        </div>

        <div class="form-group">
          <input class="btn btn-submit btn-success btn-lg newUserButton" type="submit" value="Submit" onclick="checkPassword(password)">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="../../../js/newUserSession.js"></script>
{% endblock %}
