{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

<form class="form-horizontal new_user_form" action="/newuser" method="post">

  <div class="form-group">
        <h1 class="text-center">Sign In</h1>

        <div class="form-group">
          <label for="first_name">First Name</label>
          <input class="form-control" type="text" name="first_name" placeholder="First Name" maxlength="40"  required>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control" type="text" name="last_name" placeholder="Last Name" maxlength="40" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" maxlength="40" required>
        </div>

        <div class="form-group">
          <label for="password">Password:  (Requirements: 8 Characters, at least one capital case letter, at least one lower case letter, and at least one number)</label>
          <input class="form-control" type="password" name="password" minlength="8" required>
        </div>

        <div class="form-group">
          <label for="confirm_password">Confirm Password</label>
          <input class="form-control" type="password" name="confirm_password" minlength="8" required>
        </div>

        {{alertMessage}}

        <div class="checkbox is_admin">
          <label>
            <input type="checkbox">I am admin.
          </label>
        </div>

        <div class="form-group">
          <input class="btn btn-submit btn-lg center-block newUserButton" type="submit" value="submit">
        </div>
      </div>
</form>
</div>
</div>
</div>


{% endblock %}
