{% extends "_base.html" %}

{% block title %}
  <link rel="stylesheet" href="/css/review.css">
{% endblock %}
{% block content %}
  {% if userName %}
    {% for rest in result %}
    <div class="container review-container">
      <div class="col-md-12">
        <h1 class="text-center">Leave a review for {{rest.name}}</h1>
      </div>
      <form method="post" action="/review/{{rest.id}}" class="col-md-12">
        <div class="form-group col-md-12">
          <label for="inputReview" class="control-label">Review:</label>
            <textarea class="form-control" rows="5" name="reviewText" id="inputReview" placeholder="Tell us about your experience at {{rest.name}} {{rest.cuisine_type}} restaurant!"></textarea>
          <div class="col-sm-12 star-holder">
            <label for="rating" class="control-label star-label">Stars:</label>
            <div class="rating giveStars col-xl-12">
              <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
              <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
              <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
              <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            </div>
            <br>
          </div>
          <div class="col-lg-12 buttons">
            <button type="submit" class="btn btn-primary btn-md">Submit</button>
            <button type="reset" class="btn btn-default btn-md">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}

  {% else %}
    <div class="alert">You do not have permission to view this page!</div>
  {% endif %}
{% endblock %}

{% block js%}
  <script type="text/javascript" src="/js/review.js"></script>
{% endblock %}
