{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block css %} <link rel="stylesheet" href="../client/css/review.css">{% endblock%}

{% block content %}


<div class="container">
  <h1>{{title}}</h1>
</div>
<form class="form-horizontal xl-col-3 lg-col-4 md-col-6 sm-col-7 xs-col-10">
  <fieldset>
    <legend>Leave a review for ::NUNJUCKS RESTAURANT::!</legend>
    <div class="form-group">
      <label for="reviewDate" class="col-lg-2 control-label">Date of visit:</label>
      <div class="col-lg-10">
        <input class="form-control" type:"date" id="reviewDate" ></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputReview" class="col-lg-2 control-label">Review:</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="inputReview">Tell us about your experience at ::NUNJUCKS RESTAURANT::</textarea>
      </div>
    </div>


    <div class="form-group">
      <label class="col-lg-2 control-label">How would you rate your experience?</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="1Star" value="option1" checked="">
            1
          </label>
          <label>
            <input type="radio" name="optionsRadios" id="2Stars" value="option2">
            2
          </label>
          <label>
            <input type="radio" name="optionsRadios" id="2Stars" value="option2">
            3
          </label>
          <label>
            <input type="radio" name="optionsRadios" id="2Stars" value="option2">
            4
          </label>
          <label>
            <input type="radio" name="optionsRadios" id="2Stars" value="option2">
            5
          </label>
        </div>
      </div>
    </div>


    <h1>Star Rating</h1>
    <form>
      <fieldset>
        <span class="star-cb-group">
          <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
          <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
          <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
          <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
          <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
          <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
        </span>
      </fieldset>
    </form>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>


{% endblock %}

{% block js%}
  <script type="text/javascript" src="/js/review.js"></script>
{% endblock %}
