body {
  padding: 0;
  margin: 0;
}
.jumbotron {
  background: url(../img/burger.jpeg);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.jumbotron h1 {
  color: white;
  font-weight: bold;
  font-size: 10rem;
  line-height: 100vh;
  margin: 0;
}
.jumbotron h2 {
  color: grey;
}
